body{
    background: #aaa;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"Helvetica-Bold";
    src: url(Helvetica-Bold.ttf) format("truetype");
}
.wrapper{
    width:600px;
    height: 600px;
    background: #fff;
    position: relative;
}
.logo1{
    display: none;
}
#head{
    font-family: Helvetica !important;
    font-weight: bold !important;
    font-size: 37px;
    color: #397ACD;
    letter-spacing: 0;
    padding:26px 20px 15px ;
    line-height: 44px;
}

#content{
    font-family: Helvetica !important;
    font-weight: lighter !important;
    font-size: 20px;
    color: #7C7C7C;
    letter-spacing: 0;
    line-height: 30px;
    padding: 0 20px;
    margin:0;
}

#link{
    margin: 38px 0 0;
    padding: 0 20px;
    font-family: Helvetica;
    font-size: 16px;
    color: #F276E2;
    letter-spacing: 0;
    line-height: 14px;
    float: left;
    text-align: center;
    text-decoration: none;
}
#banner{
    width: 100%;
    height: 312px;
}
#logo{
    height: 11px;
    margin-left: 2px;
    vertical-align:sub;
}
.icon{
    background: white;
    border-radius: 50%;
    border: 1px solid #397ACD;
    color: #397ACD;
    float: right;
    width: 40px;
    height: 40px;
    margin: 24px 15px 16px;
    text-align: center;
}
.fa-arrow-right{
    font-size: 18px;
    padding-top: 10px;
}
.ad{
    margin:6px 5px 10px 0px;
    font-family: ArialMT;
    height: 10px;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    
}
.bann{
    height: 312px;
}
.adchoices{
    position: absolute;
    right: 0;
    top: 0;
}
@media only screen and (width:728px) and (height: 90px){
    .bann{
        display: none;
    }
    #link{
        display: none;
    }
    .icon{
        display: none;
    }
    .adchoices{
        position: absolute;
        right: 0;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
    }
    .wrapper{
        width: 728px;
        height: 90px;
        margin: 0;
    }
    #content{
        font-family: Helvetica-Light;
        font-size: 18px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height: 32px;
        margin-top: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
        margin: 0px 10px;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 21px;
        color: #397ACD;
        letter-spacing: 0;
        padding:19px 0 0 0;
        margin: 0px 10px;
        line-height: 26px;
    }
}
@media only screen and (width:160px) and (height: 600px){
    .wrapper{
        width: 160px;
        height: 600px;
        margin: 0;
    }
    #banner{
        width: 160px;
        height: 82px;
    }
    .bann{
        height: 82px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
    }
    #head{
        margin: 20px 8px 15px;
        padding: 0;
        font-family: Helvetica-Bold;
        font-size: 20px;
        color: #397ACD;
        letter-spacing: 0;
        text-align: center;
        line-height: 29px;
    }
    #link{
        text-align: center;
        display: block;
        float: none;
        margin: 0;
    }
    .icon{
        margin-top: 71px;
        padding: 0;
    }
    #content{
        font-family: Helvetica-Light;
        font-size: 18px;
        color: #7C7C7C;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        margin: 15px 5px;
        padding: 0;
    }
}
@media only screen and (width:226px) and (height: 264px){
    .wrapper{
        width: 226px;
        position: relative;
        height: 264px;
        margin: 0;
    }
    .bann{
        display: none;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 22px;
        line-height: 1.2em;
        color: #397ACD;
        letter-spacing: 0;
        padding: 20px 11px 5px 10px;  
    }
    #content{
        margin: 0px 10px ;
        padding: 0;
        font-family: Helvetica-Light;
        font-size: 13px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height: 17px;
    }
    #content::after{
        content:"Lorem Ipsum is placeholder";
        display:inline;
    }
    #link{
        font-family: Helvetica;
        font-size: 12px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 12px;
        padding: 0;
        margin:25px 10px 19px;
    }
    .icon{
        width: 29.1px;
        height: 29.9px;
        margin: 16px 10.6px 10.1px;
    }
    .fa-arrow-right{
        padding-top: 5px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
        margin: 3px 3px 7px;
    }
    #logo{
        margin: 0 3px;
    }
}
@media only screen and (width:414px) and (height: 74px){
    .wrapper{
        width: 414px;
        height: 74px;
        position: relative;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
    }
    .bann{
        display: none;
    }
    #content{
        display: none;
    }
    #link{
        display: none;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 18px;
        color: #397ACD;
        letter-spacing: 0;
        padding: 13px 10px;
        line-height: 24px;
    }
    .icon{
        display: none;
    }
}
@media only screen and (width:336px) and (height: 280px){
    .wrapper{
        width: 336px;
        height: 280px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
        margin 3px;
    }
    .bann{
        display: none;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 26px;
        padding: 15px 15px 5px;
        color: #397ACD;
        letter-spacing: 0;
        line-height: 31px;
    }
    #content{
        margin: 0 15px;
        padding: 0;
        font-family: Helvetica-Light;
        font-size: 15px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height: 20px;
    }
    #content::after{
        content:"Lorem Ipsum is placeholder";
        display:inline;
    }
    #link{
        margin: 28px 15px;
        padding: 0;
        font-family: Helvetica;
        font-size: 12px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 12px;
    }
    .icon{
        width: 33.3px;
        height: 33.3px;
        margin: 17.5px 15.4px 16.3px;
    }
    .fa-arrow-right{
        padding-top: 7px;
    }
}
@media only screen and (width:300px) and (height: 600px){
    .wrapper{
        width: 300px;
        height: 600px;
        position: relative;
    }
    .bann{
        width: 300px;
        height: 156px;
    }
    #banner{
        width: 300px;
        height: 156px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 30px;
        color: #397ACD;
        letter-spacing: 0;
        text-align: center;
        line-height: 37px;
        margin: 10px 14px;
        padding: 0; 
    }
    #content{
        margin: 0 14px;
        padding: 0; 
        text-align: center;
        font-family: Helvetica-Light;
        font-size: 18px;
        color: #7C7C7C;
        letter-spacing: 0;
        text-align: center;
        line-height: 25px;
    }
    #link{
        margin:40px 10px;
        padding: 0;
        font-family: Helvetica;
        font-size: 15px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 14px;
    }
    .icon{
        width: 40px;
        height: 40px;
        margin: 28px 10px 10px;
    }
}
@media only screen and (width:300px) and (height: 250px){
    .wrapper{
        width: 300px;
        height: 250px;
        position: relative;
        box-sizing: border-box;
    }
    .bann{
        height: 91px;
        width: 300px;
    }
    #banner{
        margin: 0px 63px;
        width: 174px;
        height: 91px;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 19px;
        color: #397ACD;
        margin: 4px 15px 4px 10px;
        padding: 0;
        line-height: 23px;
        letter-spacing: 0;
    }
    #content{
        padding: 0;
        margin: 0 10px;
        font-family: Helvetica-Light;
        font-size: 12px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height: 17px;
    }
    #link{
        margin: 20px 10px;
        padding: 0;
        font-family: Helvetica;
        font-size: 11px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 14px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
    }
    .icon{
        width:28.8px;
        height: 29.7px;
        margin: 12px 10.9px 10.3px;
    }
    .fa-arrow-right{
        padding-top: 6px;
    }
}

@media only screen and (width:250px) and (height:250px){
    .bann{
        display: none;
    }
    .ad{
        font-family: ArialMT;
        font-size: 9px;
        color: #919191;
        letter-spacing: 0;
        margin: 3px;
    }
    .wrapper{
        width: 250px;
        height: 250px;
        position: relative;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 22px;
        padding: 20px 10px 5px;
        color: #397ACD;
        line-height: 26px;
        letter-spacing: 0;
    }
    #content{
        font-family: Helvetica-Light;
        font-size: 12px;
        color: #7C7C7C;
        letter-spacing: 0;
        padding: 0;
        margin: 0 10px;
        line-height: 16px;
    }
    #link{
        margin: 35px 10px 19px;
        padding: 0;
        font-family: Helvetica;
        font-size: 12px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 12px;
    }
    .icon{
        width: 29.1px;
        height: 29.9px;
        margin: 27px 9.6px 9.1px;
    }
    .fa-arrow-right{
        padding-top: 5px;
    }
}
@media only screen and (width:300px) and (height:50px){
    .bann{
        display: none;
    }
    #content{
        display: none;
    }
    #link{
        display: none;
    }
    .icon{
        display: none;
    }
    .wrapper{
        width: 300px;
        height: 50px;
        position: relative;
    }
    .adchoices{
        top: initial;
        bottom: 0px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 6px;
        color: #919191;
        letter-spacing: 0;
        padding: 0;
        margin: 3px;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 15px;
        color: #397ACD;
        letter-spacing: 0;
        padding: 8px 26px;
        line-height: 17px;
    }
}
@media only screen and (width:320px) and (height:50px){
    .bann{
        display: none;
    }
    #content{
        display: none;
    }
    #link{
        display: none;
    }
    .icon{
        display: none;
    }
    .wrapper{
        width: 320px;
        height: 50px;
        position: relative;
    }
    .adchoices{
        top: initial;
        bottom: 0px;
    }
    .ad{
        font-family: ArialMT;
        font-size: 6px;
        color: #919191;
        letter-spacing: 0;
        padding: 0;
        margin: 3px;
    }
    #head{
        font-family: Helvetica-Bold;
        font-size: 13px;
        color: #397ACD;
        padding: 6px 13px;
        letter-spacing: 0;
        line-height: 19px;
    }
}